html,
body{
    height: 100vh;
    width: 100vw;
}
body{
    margin: 0px;
}
header {
    background-color: aqua;
    height: 18vh;
    border: 1px solid black;
}

#corpo {
    background-color: darkgray;
    height: 72vh;
    text-align: center;
    border: 0px solid;
}
footer{
    background-color: greenyellow;
    height: 10vh;
    border: 1px solid;
}
/*
*
*/
.menuPrincipal  {
    float: left;
    font-size: 20px ;
    padding-left: 2vw;
    transition: 0.2s;
}
.menuPrincipal ul li {
    display: inline;
    padding-left: 2vw;
}
.menuPrincipal ul li a{
   color: blue;
}

.menuPrincipal ul li a:hover{
  color: red;
  font-size: 22px;
  text-decoration: none;
}